.chat-screen {
  background-color: #f5f7f8;
  height: 100%;
  position: relative;
}

.chats-container {
  height: calc(100% - 80px);
}

.chat-screen-main-container {
  height: 100%;
  display: flex;
}

.chat-screen-bar-container {
  position: absolute;
  width: 100%;
}

.chat-screen-type-bar-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.daily-messages-container {
  flex: 1;
  padding-top: 72px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column-reverse;
}

.daily-messages-content {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.message {
  width: fit-content;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 530px;
  overflow-wrap: break-word;
}

.messages-date {
  margin-bottom: 12px !important;

}
.all-messages{
  margin-bottom: 12px !important;
}

.message-me {
  background-color: #355C7D !important;
  color: white !important;
}

.message-margin-anchor{
  margin-bottom: 2px;
}

.person-preview p.MuiTypography-body2{
  overflow:hidden;
  text-overflow: ellipsis;
}