.navbar-container{
  border-bottom: 1px solid rgba(53,92,125,0.2);
  /* margin-left: 8px !important; */
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.navbar-logo{
  height: 60px;
}

.routes-container{
  cursor: pointer;
  height: 65px;
}

/* .search-container{
  width: 25ch;
} */